.footer_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33px;
  background: #efefef;
  color: #000;
  text-align: center;
  font-family: "red-hat-display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 300;
}
.footer_wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
.footer_philippe_gonnet_logo_container {
  display: flex;
  align-items: center;
}
.footer_philippe_gonnet_logo_container img {
  width: 26px;
  height: 26px;
  user-select: none;
}
.footer_menu_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 100%;
}
.footer_menu_container a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.footer_socials_menu_container {
  width: 195px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_socials_menu_container a {
  display: flex;
  align-items: center;
}
.footer_socials_menu_container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer_menu_container a:hover,
.footer_socials_menu_container img:hover {
  opacity: 0.5 !important;
  transition-duration: 300ms;
}
/* Tablet format */
@media (max-width: 950px) {
  .footer_menu_container {
    width: 450px;
    font-size: 13px;
  }
  .footer_socials_menu_container {
    width: 130px;
  }
}
@media (max-width: 750px) {
  .footer_menu_container {
    width: 340px;
    font-size: 10px;
  }
  .footer_socials_menu_container {
    width: 120px;
  }
  .footer_socials_menu_container img {
    width: 15px;
  }
}
@media (max-width: 650px) {
  .footer_wrap {
    padding: 0px 20px;
  }
  .footer_socials_menu_container {
    width: 100px;
  }
}
@media (max-width: 550px) {
  .footer_philippe_gonnet_logo_container img {
    width: 20px;
    height: 20px;
  }
  .footer_menu_container{
    font-size: 9px;
    width: 300px;
  }
  .footer_socials_menu_container {
    width: 70px;
  }
  .footer_socials_menu_container img {
    width: 11px;
  }
}
/* Mobile format */
@media (max-width: 450px) {
  .footer_container{
    height: 45px;
  }
  .footer_philippe_gonnet_logo_container img {
    width: 15px;
    height: 15px;
  }
  .footer_menu_container{
    font-size: 7px;
    width: 220px;
  }
  
}