html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  color: #fff;
  /* display: flex;
  justify-content: center; */
  font-family: "red-hat-display";
  scroll-behavior: smooth !important;
}
body::-webkit-scrollbar {
  display: none;
}
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --Green-100: rgba(161, 216, 132, 1);
}
html {
  /* background-color: violet !important; */
  width: 100vw;
  display: flex;
  justify-content: center;
  /* justify-content: flex-start */
}
.page-container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: visible;
}
.progress-bar {
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--Green-100);
  transform-origin: 0%;
  z-index: 230;
  box-shadow: 2px 1px 20px 1px #a1d884;
}
.scroll-lock {
  overflow-y: hidden !important;
}
/* html {
  display: flex;
  justify-content: center;
  background-color: blue;
} */
@font-face {
  font-family: "red-hat-display";
  /* src: url("./Assets/Fonts/Satoshi_Complete/Satoshi-Regular.otf") */
  src: url("../assets/fonts/RedHatDisplay-Regular.otf") format("opentype");
}
