.container {
  position: relative;

  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.wrap {
  max-width: 1280px;
  width: 100%;
  overflow: visible;
}

.home_circle_background_top {
  position: absolute;
  left: 8.60280659vw;
  top: -446px;
  width: 774px;
  height: 774px;
  border-radius: 47.223917%;
  opacity: 0.16;

  background: var(--Green-100, #a1d884);
  filter: blur(98.0999984741211px);
}
.home_circle_background_middle_left {
  position: absolute;
  left: 0vw;

  top: 327px;

  width: 576px;
  height: 576px;
  border-radius: 35.1433801%;
  opacity: 0.16;
  background: var(--Green-100, #a1d884);
  filter: blur(98.0999984741211px);
}
.home_philippe_gonet_logo {
  position: absolute;
  opacity: 0.05;
  top: 25vh;
  left: 40vw;
}
.home_philippe_gonet_logo img {
  width: 389.131px;
  height: 389.131px;
}
.home_circle_background_middle_right {
  position: absolute;
  right: -400px;
  top: 521px;
  width: 774px;
  height: 774px;
  border-radius: 774px;
  opacity: 0.16;
  background: var(--Green-100, #a1d884);
  filter: blur(98.0999984741211px);
}
@media (max-width: 1450px) {
  .wrap {
    max-width: 1200px;
  }
}
@media (max-width: 1350px) {
  .wrap {
    max-width: 1000px;
  }
}
@media (max-width: 1150px) {
  .wrap {
    max-width: 950px;
  }
}
@media (max-width: 1050px) {
  .wrap {
    max-width: 850px;
  }
}
/* Tablet format */
@media (max-width: 950px) {
  .wrap {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .wrap {
    max-width: 700px;
  }
}
@media (max-width: 750px) {
  .wrap {
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .wrap {
    max-width: 500px;
  }
  .home_philippe_gonet_logo {
    left: 30vw;
  }
}
@media (max-width: 550px) {
  .wrap {
    max-width: 400px;
  }
  .home_philippe_gonet_logo {
    left: 20vw;
  }
}
