.navbar_container {
  position: fixed;
  top: 0;
  width: 100vw !important;
  z-index: 20;
}
.navbar_wrap {
  height: 120px;
  /* max-width: 1280px;
  background-color: red; */
  position: relative;
}
.navbar_logo_container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  user-select: none;
}
.navbar_logo_container img {
  transform: scale(0.8);
}
.navbar_menu_container {
  /* width: 400px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* background-color: green; */
  position: relative;
  /* right: 142px; */
  /* right: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  user-select: none;
}
.navbar_menu_wrap {
  /* position: absolute; */
  /* width: 400px; */
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: green; */
}
.navbar_menu_our_history,
.navbar_menu_vintage,
.navbar_menu_club {
  cursor: pointer;
  padding: 20px;
}
.navbar_menu_our_history:hover,
.navbar_menu_vintage:hover,
.navbar_menu_club:hover {
  opacity: 0.5;
  transition: 300ms;
}

@media (max-width: 1450px) {
  .navbar_menu_wrap {
    max-width: 1220px;
  }
}
@media (max-width: 1350px) {
  .navbar_menu_wrap {
    max-width: 1000px;
  }
}
@media (max-width: 1150px) {
  .navbar_menu_wrap {
    max-width: 950px;
  }
}
@media (max-width: 1050px) {
  .navbar_menu_wrap {
    max-width: 850px;
  }
}
/* Tablet format */
@media (max-width: 950px) {
  .navbar_wrap {
    height: 80px;
  }
  .navbar_menu_wrap {
    max-width: 800px;
  }
  .navbar_logo_container img {
    transform: scale(0.45);
  }

  .navbar_menu_our_history,
  .navbar_menu_vintage,
  .navbar_menu_club {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 850px) {
  .navbar_menu_wrap {
    max-width: 700px;
  }
}
@media (max-width: 750px) {
  .navbar_menu_wrap {
    max-width: 600px;
  }
  .navbar_menu_our_history,
  .navbar_menu_vintage,
  .navbar_menu_club {
    font-size: 11px;
    padding: 5px;
  }
}
@media (max-width: 650px) {
  .navbar_menu_wrap {
    max-width: 500px;
  }
  .navbar_logo_container img {
    transform: scale(0.53);
  }
  .navbar_menu_our_history,
  .navbar_menu_vintage,
  .navbar_menu_club {
    font-size: 9px;
    padding: 5px;
  }
}
@media (max-width: 550px) {
  .navbar_menu_wrap {
    max-width: 400px;
  }
  .navbar_menu_our_history,
  .navbar_menu_vintage,
  .navbar_menu_club {
    font-size: 8px;
    padding: 3px;
  }
}
