.navbar_container {
  position: fixed;
  top: 0;
  width: 100vw !important;
  z-index: 20;
}
.navbar_wrap {
  height: 120px;
  /* background-color: red; */
  position: relative;
}
.navbar_logo_container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  user-select: none;
}
.navbar_logo_container img {
  transform: scale(0.8);
}
.navbar_menu_container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* background-color: green; */
  position: absolute;
  /* right: 142px; */
  right: 5%;
  display: flex;
  align-items: center;
  font-family: "red-hat-display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}
.navbar_menu_our_history,
.navbar_menu_vintage,
.navbar_menu_club {
  cursor: pointer;
}
.navbar_menu_our_history:hover,
.navbar_menu_vintage:hover,
.navbar_menu_club:hover {
  opacity: 0.5;
  transition: 300ms;
}

/* .navbar_menu_our_history {
    cursor: pointer;
}
.navbar_menu_our_vintage {
    cursor: pointer;
}
.navbar_menu_our_club {
  cursor: pointer;
} */
