.checkout_membership_container {
}
/* === If wallet connected === */
.checkoutmembership_payout_title_and_show_address_tablet {
}
.checkout_membership_payout_show_address_container {
  position: absolute;
  right: 30px;
  top: 30px;
}
.checkout_membership_payout_title_container {
  display: flex;
  justify-content: space-between;
}
.checkout_membership_payout_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.checkout_membership_payout_buttons_and_description_container {
  width: 100%;
}
/* END CONNECTED */
.checkout_membership_video_and_selector_container {
  display: flex;
}

.checkout_membership_selector_bloc_container {
  height: 165px;
  margin-left: 56px;
  position: relative;
}
.checkout_membership_selector_title {
  font-weight: 400;
  font-size: 20px;
  user-select: none;
}
.checkout_membership_selector_counter_container {
  display: flex;
  align-items: center;
  margin-top: 19px;
  height: 36px;
}
.checkout_membership_selector_counter_minus {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkout_membership_selector_counter_minus span {
  width: 18.333px;
  height: 1px;
  display: flex;
  background-color: var(--Green-100, #a1d884);
  transition: transform 0.3s ease-in-out;
}
.checkout_membership_selector_counter_quantity {
  width: 26px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  user-select: none;
  animation: slideInFromTop 0.3s ease-out;
}
.checkout_membership_selector_counter_plus {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  /* transition: transform 300ms ease-in-out; */
}

.checkout_membership_selector_counter_plus span {
  position: absolute;
  background-color: var(--Green-100, #a1d884);
  transition: transform 300ms ease-in-out;
}

.checkout_membership_selector_counter_plus span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
}

.checkout_membership_selector_counter_plus span:nth-child(2) {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
}
.checkout_membership_selector_text_limitation {
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  width: 130px;
  bottom: 0%;
  position: absolute;
}
.checkout_membership_price_container {
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
  width: 252px;
  padding: 10px;
  border-top: 1px solid var(--Green-100, #a1d884);
  border-bottom: 1px solid var(--Green-100, #a1d884);
  border-left: 1px solid var(--Green-100, #a1d884);
  color: var(--Green-100, #a1d884);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.checkout_membership_price {
  letter-spacing: 6px;
  animation: slideInFromTop 0.3s ease-out;
  min-width: 106px;
}
.checkout_membership_price_currency {
  font-weight: 400;
}

.checkout_membership_explanation_title {
  margin-top: 58px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.checkout_membership_explanation_description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 36px;
}
.checkout_membership_buttons_container {
  display: flex;
  justify-content: space-between;
}
.checkout_membership_loading_container {
  position: relative;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* If wallet connected */
.checkout_membership_payout_buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.checkout_membership_payout_buttons_container > div {
  max-width: 100% !important;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  margin-bottom: 15px;
}
.checkout_membership_payout_buttons_container > button {
  font-family: "red-hat-display";
  font-weight: 800 !important;
  font-size: 20px;
  border-radius: 15px;
  background-color: #a1d884;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 20px;
}
.checkout_membership_payout_buttons_container > button > span {
  color: black;
}
.checkout_membership_payout_buttons_container > div > div {
  /* border: solid 1px rosybrown; */
  display: flex;
  height: 100%;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
  padding: 10px 20px;
}
.checkout_membership_payout_buttons_container img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.checkout_membership_payout_wallet_logo_container {
  height: 100%;
  display: flex;
  align-items: center;
}
.checkout_membership_payout_wallet_logo_container img {
  margin: 0px 5px;
}

/* === If mint with wallet is clicked === */

.checkout_membership_payout_loading_mint_wallet_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout_membership_payout_loading_mint_wallet {
  position: relative;
  display: inline-block;
  width: 250px; /* Adjust size as needed */
  height: 250px; /* Adjust size as needed */
  border: 4px solid transparent;
  border-top-color: var(--Green-100, #a1d884); /* Color of the loading arc */
  border-radius: 50%; /* Makes it a circle */
  animation: spin 5s linear infinite;
  /* background-color: red; */
}
.checkout_membership_payout_loading_mint_wallet:after {
  content: "";
  position: absolute;
  top: 12%;
  right: 13%;
  width: 8px;
  height: 8px;
  background-color: var(--Green-100, #a1d884);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.checkout_membership_payout_loading_mint_wallet_image_container img {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%;
  width: 160px;
  height: 160px;
}
.checkout_membership_crossmint_button {
  background-color: red;
}
/* === Conditionnal rendering: Modal for Tablet === */

.checkout_membership_container_tablet {
  display: flex;
}
.checkout_membership_video_and_selector_and_price_container_tablet {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.checkout_membership_video_and_selector_container_tablet {
  /* display: flex; */
  display: flex;
  flex-direction: column;
}
.checkout_membership_selector_bloc_container_tablet {
  position: relative;
  margin-top: 10px;
}
.checkout_membership_price_container_tablet {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  width: 252px;
  padding: 10px;
  border-top: 1px solid var(--Green-100, #a1d884);
  border-bottom: 1px solid var(--Green-100, #a1d884);
  border-left: 1px solid var(--Green-100, #a1d884);
  color: var(--Green-100, #a1d884);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.checkout_membership_selector_text_limitation_tablet {
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  width: 130px;
  bottom: -10px;
  position: absolute;
}
.checkout_membership_explanation_and_buttons_container_tablet {
  max-width: 330px;
  max-height: 315px;
  width: 100%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout_membership_explanation_tablet {
  height: fit-content;
}
.checkout_membership_explanation_description_tablet {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding-top: 17px;
}
.checkout_membership_explanation_tablet > div {
  margin-top: 0px;
}
.checkout_membership_buttons_container_tablet {
  display: flex;
  justify-content: space-between;
}
.checkout_membership_price_tablet {
  letter-spacing: 6px;
  animation: slideInFromTop 0.3s ease-out;
}
/* === Tablet + If wallet connected === */
.checkout_membership_payout_title_tablet {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.checkout_membership_selector_counter_container_tablet {
  display: flex;
  align-items: center;
  margin-top: 0px;
  height: 36px;
}
.checkout_membership_payout_buttons_and_description_container_tablet {
  width: 100%;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .checkout_membership_payout_explanation_title_and_description_tablet{

} */
.checkout_membership_payout_explanation_title_tablet {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.checkout_membership_payout_buttons_container_tablet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.checkout_membership_payout_buttons_container_tablet > div {
  max-width: 100% !important;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  margin-bottom: 15px;
}
.checkout_membership_payout_buttons_container_tablet > button {
  font-family: "red-hat-display";
  font-weight: 800 !important;
  font-size: 20px;
  border-radius: 15px;
  background-color: #a1d884;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 20px;
}
.checkout_membership_payout_buttons_container_tablet > button > span {
  color: black;
}
.checkout_membership_payout_buttons_container_tablet > div > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
  padding: 10px 20px;
}
.checkout_membership_payout_buttons_container_tablet img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 750px) {
  .checkout_membership_explanation_and_buttons_container_tablet {
    margin-left: 40px;
  }
}
@media (max-width: 700px) {
  .checkout_membership_explanation_and_buttons_container_tablet {
    max-height: 360px;
  }
  .checkout_membership_buttons_container_tablet {
    display: flex;
    flex-direction: column;
    height: 80px;
  }
  .checkout_membership_payout_buttons_container_tablet > button {
    font-size: 14.883px;
    border-radius: 10px;
  }
  .checkout_membership_payout_buttons_container_tablet img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 650px) {
  .checkout_membership_payout_buttons_and_description_container_tablet {
    padding-top: 50px;
  }
  .checkout_membership_price_container_tablet {
    width: 210px;
    font-size: 30px;
  }
  .checkout_membership_payout_wallet_logo_container img {
    margin: 0px 2px;
  }
  .checkout_membership_payout_buttons_container_tablet > button {
    font-size: 12.883px;
  }
  .checkout_membership_payout_buttons_container_tablet > div > div > div {
    font-size: 12.83px;
  }
}
@media (max-width: 550px) {
  .checkout_membership_explanation_and_buttons_container_tablet {
    margin-left: 30px;
  }
  .checkout_membership_explanation_description_tablet {
    font-size: 10px;
  }
  .checkout_membership_price_container_tablet {
    width: 160px;
    font-size: 24px;
  }
  .checkout_membership_payout_buttons_container_tablet{
    width: 150px;
  }
  .checkout_membership_payout_buttons_container_tablet > div > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .checkout_membership_payout_buttons_container_tablet > button {
    display: flex;
    flex-direction: column-reverse;
  }
}
